body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #e2e2e2;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 150vh;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}
.container:hover + .container label{
    background-color: #9a9a9a;
}

.container label {
    position: relative;
    cursor: pointer;
    background-color: #7e7e7e;
    display: block;
    padding: 20px 0px 20px 20px;
    width: calc(100%-40px);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    transition: color .35s;
    z-index: 100;
    transition: .5s;
}
.container:hover > label::after{
    position: absolute;
    content: '\276F';
    font-size: 38px;
    right: 30px;
    top: 5px;
    transition: .5s;
}

.container label:hover{
    transition: .3s;
    background-color: #009fcb;
    color: #ede500;
    
}
.container input {
    display: none;
}

.bayan-inner {
    text-align: center;
    transition: .5s;
}
.bayan-inner img{
    width: 0;
    opacity: 0;
    transition: .7s;
}

/* .container input:checked + label + .bayan-inner {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
} */
.container input:hover + label + .bayan-inner img{
width: 400px;
opacity: 1;
transition: .7s;
}
.container input:checked + label + .bayan-inner img{
    width: 400px;
    opacity: 1;
}
.container input:checked + label{
    transition: .3s;
    background-color: #009fcb;
    color: #ede500;
}
.container:hover > label{
    background-color: #0882ed;
    color: #ffffff;
}
.container input:hover + label::after{
    transform: rotate(90deg);
    transition: .4s;
}
.container input:checked + label::after{
    transform: rotate(90deg);
    transition: .4s;
}